{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Link Checker Results" %}{% endblock %}
{% block bodyclass %}menu-linkchecker{% endblock %}
{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="Link Checker" icon="link" %}

    <div class="nice-padding">
		<h2>Links To Be Scanned</h2>
		{% if scan.non_scanned_links.exists %}
		{% for link in scan.non_scanned_links.all %}
		<p>
			<a href='{{link}}' target="_blank">{{link}}</a> - {{link.crawled}}
		</p>
		{% endfor %}
		{% endif %}
		<h2>Results</h2>
		<hr />
		<h2>Broken Links</h2>
		{% if scan.broken_links.exists %}
		{% for link in scan.broken_links.all %}
		<p>
            <a href='{{link}}' target="_blank">{{link}}</a> - {{link.message}}
            <a href="{% url 'wagtailadmin_pages:edit' link.page.id %}" target="_blank" class="button button-small">Edit page containing this link</a>
        </p>
		{% endfor %}
		{% else %}
		<p>There are no broken links!</p>
		{% endif %}

		<h2>Working Links</h2>
		{% if scan.working_links.exists %}
		{% for link in scan.working_links.all %}
		<p>
			<a href='{{link}}' target="_blank">{{link}}</a> - {{link.crawled}}
		</p>
		{% endfor %}
		{% else %}
		<p>There are no working links!</p>
		{% endif %}

        <a href="{% url 'wagtaillinkchecker' %}" class="button bicolor icon icon-arrow-left">Back</a>
    </div>
{% endblock %}
